<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </div>
    <div class="field">
    <%= f.label :vegetarian %><br>
    <%= f.check_box :vegetarian %>
  </div>
  <div class="action">
  Pick as many ingredients as necessary.<br>
  <%= f.select(:ingredients, Ingredient.all.collect { |p| [p.name, p.id] }, { selected: @recipe.ingredients.collect{ |i| i.id }}, {:multiple => true}) %>
</div>
  <div class="actions"><br>
    Pick as many gadgets as necessary<br>

  <%= f.select(:gadgets, Gadget.all.collect {|g| [g.name, g.id] }, { selected: @recipe.gadgets.collect {|i| i.id }}, {:multiple => true}) %>
</div>
  <div class="actions">
    <br><br>

     <p>
      <%= f.label :display, "Upload local file:" %><br />
      <%= f.file_field :display %>
      <%= f.hidden_field :display_cache %>
    </p>
  </div>
  <div class="actions">

      <%= f.submit %>
  </div>
<% end %>
