<p id="notice"><%= notice %></p>

<td>
  <strong>Name:</strong>
  <%= @user.name %>
</td>

<td>
  <strong>Email:</strong>
  <%= @user.email %>
</td>
<p>
  <strong>User's cookbooks!</strong><br>
  <% @user.cookbooks.each do |cookbook| %><br>
    <%= link_to cookbook.name, cookbook_path(cookbook.id) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
