<!DOCTYPE html>
<html>
<head>
  <title>CookbookProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_tag(ingredients_path, method: "get") do %>
  <%= label_tag("Search for ingredients:") %>
  <%= text_field_tag :search_ingredients, params[:search_ingredients]%>
  <%= submit_tag "Search", :name=> nil %>
<% end %>

  <%= form_tag(recipes_path, method: "get") do %>
  <%= label_tag("Search for recipes:") %>
  <%= text_field_tag :search_recipe, params[:search_recipe] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>


<%= yield %>
<br><br>
<%= link_to 'Go back to the users page!', users_path %>
</body>
</html>
