<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Welcome Page</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>

<!-- NAVBAR
================================================== -->
  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cookbooks">Cookbooks</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/ingredients">Ingredients</a></li>
            <li><a href="/gadgets">Gadgets</a></li>
            <li><a href="/users">Users</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>


    <!-- Carousel
    ================================================== -->

     <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
      <div class="carousel-inner">
        <div class="item active">
          <img src="" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Burger Book</h1>
              <p>Delicious!</p>
              <p><a class="btn btn-lg btn-primary" href="/users/new" role="button">Start Today!</a></p>
            </div>
          </div>
        </div>
        


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-md-4">
         
          <h2>Recipes</h2>
          <p>Tons of Mouthwatering, World-Famous Burgers and Meatballs!</p>
          <p><a class="btn btn-default" href="/recipes" role="button">Check 'em out!</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
          
          <h2>Become a User today!</h2>
          <p> You know you wanna<br> make a cookbook!</p>
          <p><a class="btn btn-default" href="/users/new" role="button">Nom nom nom</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
         
          <h2>Search Recipes by Ingredient</h2>
          <div class= "search-bar">
              <%= form_tag(recipes_path, method: :get) do %>
              
              <%= text_field_tag :search_recipe, params[:search_recipe] %>
              <%= submit_tag "Search", :name => nil %>
            <% end %>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Davida $ Shadae, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../docs-assets/js/holder.js"></script>
  </body>
</html>
